h1{
    font-family: 'Times New Roman', Times, serif;
    color: #005677 ;
    font-size: 35px;
    font-style: normal;
    font-weight:bold;
    letter-spacing: 10px;
    line-height: normal; 
    text-align: center;
    background-color: #c4c4c4;
}
header {background-color:#e6e6e6;}
#batman {text-align: center;}
.datos strong{ font-style: italic;}
h2{letter-spacing: 10px;
color:#005677;
background-color: #c4c4c4;
font-family: 'Times New Roman', Times, serif;
text-align: left;}
#espantapajaros{text-align: justify;}
#pie{font-family: 'Times New Roman', Times, serif; font-weight: bold; font-size: 20px;font-style: normal;
    text-align: center;
background-color: #005677;
color: rgb(255, 255,255);
letter-spacing: normal;}